<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.grapheneos.goscompat.wifiscantimeout.tests">

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />

    <application
        android:debuggable="true"
        android:label="GOS Compat Wi-Fi Scan Timeout Tests">
        <activity
            android:name=".ForegroundScanActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.DayNight" />
    </application>

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="app.grapheneos.goscompat.wifiscantimeout.tests" />
</manifest>
